<nav class="navbar navbar-default" style="margin-bottom: 50px">
    <div class="container-fluid"
         style="border-style: solid; border-top-color: #cc0000; !important; border-bottom-color: transparent;
            border-left-color: transparent; border-right-color: transparent">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img ng-src="./../img/Ferrari-logo-sm.png" style="max-height: 360%" class=""/></h1>
            </a>
        </div>

        <ul class="nav navbar-nav" style="font-weight: 500; font-size: 130%">
            <li><a ng-click="goToAppraiseMainView()" style="cursor: pointer;">Appraisals</a></li>
            <li><a ng-click="goToAppraiseSearchView()" style="cursor: pointer;">Search</a></li>
        </ul>

        <div class="pull-right">
            <a class="bannerOrgIcon">
                <i class="fa fa-user-circle" aria-hidden="true"> Super Appraiser</i>
            </a>

            <a class="bannerOrgIcon pull-right">
                <button class="btn btn-success btn-sm" ng-click="userLogout()">
                    <i class="fa fa-sign-out" aria-hidden="true">Logout</i>
                </button>
            </a>

        </div>
    </div>
</nav>