<div id="createModal"
     class="modal"
     role="dialog"
>
    <div class="modal-dialog" style="width: 66%" >
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button"
                        class="close"
                        ng-click="createModal.hide()" >&times;</button >
                <h4 class="modal-title" >Available Offers</h4 >
            </div >
            <div class="modal-body" >
                <form ng-submit=""
                      class="form-horizontal"
                      novalidate >
                    <div class="row">

                        <!-- ng-if="offer._InstitutionName == institution" -->
                        <!-- pre>{{cfService.offers}}</pre -->
                        <!-- pre>{{cfService.institutions}}</pre-->
                        <div class="panel panel-default" ng-repeat="institution in cfService.institutions">
                            <div class="panel-heading" style=" color: #333; background-color: #f5f5f5;border-color: #ddd; font-size: 200%;">{{ institution }}</div>
                            <div class="panel-body">
                                <div class="form-group" ng-if="institution == offer._InstitutionName" ng-repeat="offer in cfService.offers">
                                    <div >
                                        <label class="col-sm-3 control-label" >Interest Rate</label >
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   ng-model="offer._InterestRate"
                                                   readonly />
                                        </div>

                                        <label class="col-sm-3 control-label" >Loan Amount</label >
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   ng-model="offer._LoanAmount"
                                                   readonly />
                                        </div>

                                        <label class="col-sm-3 control-label" >Monthly Payment</label >
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   ng-model="offer._MonthlyPayment"
                                                   readonly />
                                        </div>

                                        <label class="col-sm-3 control-label" >Loan Term</label >
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   ng-model="offer._LoanTerm"
                                                   readonly />
                                        </div>
										<div class="col-sm-12">
                                            <button class="btn btn-primary form-control" ng-click="updateApp(institution, offer._OfferID, offer._LoanType)" >Select Offer</button>
                                        </div>
                                    </div>
                                </div >
                            </div >
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form >
            </div >
        </div >
    </div >
</div >