<div id="createModalDis"
     class="modal"
     role="dialog"
>
    <div class="modal-dialog" style="width: 66%" >
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button"
                        class="close"
                        ng-click="createModal.hide()" >&times;</button >
                <h4 class="modal-title" ></h4 >
            </div >
            <!-- self.hasOffersFlag = false; -->
            <div class="modal-body" >
                <form ng-submit=""
                      class="form-horizontal"
                      novalidate >
                    <div class="row">
                        <div class="container" style="width: 80%">
                            <fieldset class="for-panel">
                                <legend>Important Information: </legend>
                                <span>
                                    Please see below for Rates, Fees and Other Cost Information, Consent to Electronic Communications, Billing Rights, and Privacy Policy.
                                </span>
                                <div class="row col-md-offset-2">
                                    <div class="form-group">
                                        <div class="form-group col-md-9">
                                            <div class="form-horizontal form-inline">

                                                <div class="well" style="width: 100%;">
                                                    <div  class="text-center" style="font-weight: bold; line-height: 120%;">
                                                       <span>SYNCHRONY BANK<br>
                                                        KEEP FOR YOUR RECORDS<br>
                                                        RATES AND FEES TABLE<br>
                                                        SYNCHRONY BANK CREDIT CARD ACCOUNT</span><br>
                                                    </div>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <th colspan="2">Interest Rates and Interest Charges</th>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-weight: bold">
                                                                Annual Percentage Rate (APR) for Purchases
                                                            </td>
                                                            <td style="font-weight: bold">
                                                                29.99%
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-weight: bold">
                                                                Paying Interest
                                                            </td>
                                                            <td>Your due date is at least 23 days after the close of each billing cycle. We will not charge you any interest on non-promotional purchases if you pay your entire balance by the due date each month. We will begin charging interest on promotional purchases on the purchase date.
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-weight: bold">
                                                                Minimum Interest Charge
                                                            </td>
                                                            <td>
                                                                If you are charged interest, the charge will be no less than $2.
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-weight: bold">
                                                                For Credit Card Tips from the Consumer Financial Protection Bureau
                                                            </td>
                                                            <td style="font-weight: bold">
                                                                To learn more about factors to consider when applying for or using a credit card, visit the website of the Consumer Financial Protection Bureau at
                                                                <a href="">http://www.consumerfinance.gov/learnmore</a>.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <th colspan="2">Fees</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>Penalty Fees</strong>
                                                                <ul>
                                                                    <li>Late Payment</li>
                                                                </ul>

                                                            </td>
                                                            <td>
                                                                Up to <strong>$38</strong>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div>
                                                        <span>
                                                            <strong>How We Will Calculate Your Balance:</strong> We use a method called "daily balance". See your credit card account agreement below for more details.
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span>
<strong>Billing Rights:</strong> Information on your rights to dispute transactions and how to exercise those rights is provided in your credit card account agreement.
                                                        </span>
                                                    </div>

                                                    <div>
                                                        <span>The information about the costs of the card described above is accurate as of June 20, 2017. This information may have changed after that date. To find out what may have changed, write to us at P.O. Box 965033, Orlando, FL 32896-5033. This application and the credit card agreement will be governed by federal law, and to the extent state law applies, the laws of Utah. Subject to the requirements and limitations of applicable law, we may change, add to or delete any of the terms of the agreement, including the interest rates, fees and charges and we will send you notice as required.</span>
                                                    </div>
                                                </div>

                                                <div style="background-color: gainsboro">
                                                        <span>
                                                            *Please keep in mind that, as permitted by federal law, if you choose to limit our sharing of information with nonaffiliates, your choice will not prohibit us from sharing your information with dealers/merchants/retailers/contractors/
providers (and their affiliates and program sponsors) that accept the credit card in connection with maintaining and servicing the consumer program identified on your credit card agreement or credit card, including marketing of such program.

The above notice applies only to the consumer credit card account with Synchrony Bank, as identified on your credit card agreement or credit card, and does not apply to any other accounts you have with us. It replaces our previous privacy notice disclosures to you. We can change our privacy policy at any time and will let you know if we do if/as required by applicable law.

For helpful information about identity theft, visit the Federal Trade Commission's (FTC) consumer website at https://www.identitytheft.gov/ .
                                                        </span>
                                                </div>



                                                <div class="row col-md-9 col-md-offset-4" style="margin-top: 15px; margin-bottom: 15px;">
                                                    <div class="">
                                                        <button class="btn btn-success" ng-click="createModal.hide()" value="submit">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form >
                <div class="clearfix" style="min-height: 100px;" ></div>
            </div >
        </div >
    </div >
</div >