<div id="createModal"
     class="modal"
     role="dialog"
>
    <div class="modal-dialog" style="width: 66%" >
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button"
                        class="close"
                        ng-click="createModal.hide()" >&times;</button >
                <h4 class="modal-title" ></h4 >
            </div >
            <!-- self.hasOffersFlag = false; -->
            <div class="modal-body" >
                <form ng-submit=""
                      class="form-horizontal"
                      novalidate >
                    <div class="row">
                        <div class="container" style="width: 80%">
                            <fieldset class="for-panel">
                                <legend>Turn on AutoPay?</legend>
                                <div class="row col-md-offset-1">

                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <p>
                                                AutoPay is the easiest way to pay, and it will help you build positive through on-time payments
                                            </p>
                                            <P>
                                                If you enable AutoPay, we will automatically debit your monthly payment amount from your payment method on each due date.
                                            </P>

                                            <p>
                                                AutoPay is optional and won't affect our credit decision. You can modify your AutoPay settings any time.
                                            </p>
                                            <button class="btn btn-success" ng-click="showAutoPayModal()">YES, ENABLE AUTOPAY</button>
                                            <button class="btn btn-danger" ng-click="createModal.hide()">No, not now</button>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form >
                <div class="clearfix" style="min-height: 100px;" ></div>
            </div >
        </div >
    </div >
</div >

