<div id="createModal"
     class="modal"
     role="dialog"
>
    <div class="modal-dialog" style="width: 66%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        ng-click="createModal.hide()">&times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <!-- self.hasOffersFlag = false; -->
            <div class="modal-body">
                <form ng-submit=""
                      class="form-horizontal"
                      novalidate>
                    <div class="" id="">
                        <fieldset class="for-panel">
                            <legend>Setting AutoPay</legend>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-horizontal">
                                            <div class="" style="background-color: #cccccc">
                                                <label class="control-label col-sm-4" style="color: white">Payment Method</label>
                                                <div class="col-sm-6 form-group">
                                                    <select class="form-control" ng-model="cfService.autoPayType"
                                                            required>
                                                        <option value="debit_card">Debit Card</option>
                                                        <option value="bank_acct">Bank Account</option>
                                                    </select>
                                                </div>

                                                <label class="control-label col-sm-4" style="color: white">Your Name</label>
                                                <div class="col-sm-6 form-group">
                                                    <input type="text" class="form-control " ng-model="autoPayName"
                                                           required>
                                                </div>
                                            </div>

                                            <div ng-show="cfService.autoPayType == 'debit_card'">
                                                <label class="control-label col-sm-4" style="color: white">Card Number</label>
                                                <div class="form-group col-sm-6">
                                                    <input type="text" class="form-control"
                                                           ng-model="autoPay_cardnum" required
                                                           ui-mask="9999-9999-9999-9999"
                                                    >
                                                </div>

                                                <label class="control-label col-sm-4" style="color: white">Security Code</label>
                                                <div class="form-group col-sm-6">
                                                    <input type="number" class="form-control"
                                                           ng-model="autoPay_securityCode" required>
                                                </div>

                                                <label class="control-label col-sm-4" style="color: white">Expiration Date</label>
                                                <div class="col-sm-6 form-group">
                                                    <datepicker date-format="yyyy-MM-dd">
                                                        <input id="expirationDate" type="text"
                                                               ng-model="autoPay_expiration" class="form-control"
                                                               required>
                                                    </datepicker>
                                                </div>
                                            </div>


                                            <div style="" ng-show="cfService.autoPayType == 'bank_acct'">
                                                <label class="control-label col-sm-4" style="color: white">Routing Number</label>
                                                <div class="form-group col-sm-6">
                                                    <input type="number" class="form-control" ng-model="autoPay_routing"
                                                           required>
                                                </div>
                                                <label class="control-label col-sm-4" style="color: white">Account Number</label>
                                                <div class="form-group col-sm-6">
                                                    <input type="number" class="form-control"
                                                           ng-model="autoPay_bankacct" required>
                                                </div>
                                            </div>

                                            <div class="row col-md-9 col-md-offset-4"
                                                 style="margin-top: 15px; margin-bottom: 15px;">
                                                <div class="">
                                                    <button class="btn btn-success" value="submit"
                                                            ng-click="createModal.hide()">Submit
                                                    </button>
                                                    <button class="btn btn-default" value="cancel"
                                                            ng-click="createModal.hide()">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <div class="clearfix" style="min-height: 60px;"></div>
            </div>
        </div>
    </div>
</div>