/* app css stylesheet */

#pageWrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: url("../img/yellow.jpg");
    background-size: cover;
    min-height: 100vh;
	padding-bottom: 180px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.content{
  margin: 10px 0 0 10px;
}

.panel {
  width: 80%;
  margin: auto;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 40px 0; 
}

.spinner p {
    margin-top: 20px; 
}

fieldset.for-panel {
    background-color: #fcfcfc;
    border: 1px solid #999;
    border-radius: 4px;
    padding:15px 10px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-color: #f9fdfd;
    margin-bottom:12px;
}
fieldset.for-panel legend {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #4381ba;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    margin: inherit;
    padding: 7px;
    width: auto;
    background-color: #d9edf7;
    margin-bottom: 0;
}

#approvedOffers  h5 {
    color: white;
}

#approvedOffers .panel-footer span {
    color: white;
}

.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
}

.am-fade {
    background-color:#ffffdd;
    /*background-color: transparent;*/
    filter: alpha(opacity=70);
    /*opacity: 0.5;*/
}

div.offersSelection:hover {
    cursor: pointer;
}

div.divDisclure:hover {
    cursor: pointer;
}

.form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 !important;
    min-width: 95%;
    color: #2095F2;
    background-color: #E4E3D9;
}

#smallDatePicker ._720kb-datepicker-open {
    width: 40%;
}

.indigo {
    background-color: white !important;
}

.center-on-small-only {
    text-align: center;
}

#emailAgree.well {
    background-color: #E4E3D9;
}



