/* app css stylesheet */

#pageWrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: url("../img/yellow.jpg");
    background-size: cover;
    min-height: 100vh;
	padding-bottom: 180px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.content{
  margin: 10px 0 0 10px;
}

.panel {
  width: 80%;
  margin: auto;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 40px 0; 
}

.spinner p {
    margin-top: 20px; 
}

#defaultForPanel fieldset.for-panel {
    /*background-color: #fcfcfc;*/
    background-color: #fcfcfc;
    /*background-color: #d9edf7;*/
    /*background-color: #f9fdfd;*/


    border: 1px solid #999;
    border-radius: 4px;
    padding:15px 10px;
    /*border-color: #bce8f1;*/
    margin-bottom:12px;
}

fieldset.for-panel {
    /*background-color: #fcfcfc;*/
    background-color: #333C45;
    /*background-color: #A6ACA8;*/
    /*background-color: ##333C45;*/


    border: 1px solid #999;
    border-radius: 4px;
    padding:15px 10px;
    /*border-color: #bce8f1;*/
    margin-bottom:12px;
}
fieldset.for-panel legend {
    /*background-color: #454F47;*/
    /*background-color: #d9edf7;*/
    background-color: white;

    border: 1px solid #333C45;
    border-radius: 5px;
    /*color: #4381ba;*/
    color: #333C45;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    margin: inherit;
    padding: 7px;
    width: auto;
    margin-bottom: 0;
}

#approvedOffers  h5 {
    color: white;
}

#approvedOffers .panel-footer span {
    color: white;
}

.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
}

.am-fade {
    background-color:#ffffdd;
    /*background-color: transparent;*/
    filter: alpha(opacity=70);
    /*opacity: 0.5;*/
}

div.offersSelection:hover {
    cursor: pointer;
}

div.divDisclure:hover {
    cursor: pointer;
}

.form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 !important;
    min-width: 85%;
    /*color: #2095F2;*/
    color: #5cb85c;
    background-color: white;
    border-radius: 7px !important;
    padding-left: 20px !important;
}

#smallDatePicker ._720kb-datepicker-open {
    /*width: 90%;*/
}

.indigo {
    background-color: white !important;
}

.center-on-small-only {
    text-align: center;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/*#emailAgree.well {*/
    /*background-color: #E4E3D9;*/
/*}*/

.glyphicon-ok {
    display: none;
}

.glyphicon-remove {
    display: none;
}


.myFooter{
    color: #F8C700;
    font-size: 120%;
    margin-top: 70px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-bottom: 30px;
    max-height: 18px;

    /*min-height: 25px;*/
    /*max-height: 25px;  F8C700   */
    background-color: #333C45 !important;
}

loginScreen{
    background: url("../img/Ferrari-logos.jpg");
}

loginScreenSm{
    background: url("./img/Ferrari-logo-sm.png");
}

h1.title {
    font-size: 50px;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
    font-size: 16px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 430px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 16px;
    text-align: center;
}


.banner-li li {
    border-right:  0.7px solid ;
}

#appraiseMain {
    color: white !important;
}

