<div class="content" ng-controller="RegisterCtrl">
    <div class="row col-md-12" style="">
        <form novalidate>
            <div class="container" ng-show="cfService.step1Complete == null">
                <fieldset class="for-panel">
                    <div class="pull-right" style="font-size: 120%; font-weight: bold">
                        <a href="" style="text-decoration: none; color: #F8C700">FAQ: <i class="fa fa-question-circle"
                                                                                       aria-hidden="true"></i></a>
                    </div>
                    <legend>
                        <i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout - Progress: <i
                            class="fa fa-battery-quarter" aria-hidden="true"></i>
                    </legend>

                    <div class="form-inline">
                        <!--<div class="container">-->
                        <!--<div class="col-md-12 " style="">-->

                        <div class="" style="">
                            <div class="col-sm-6 form-group" style="">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Initial Purchase Amount</label>
                                    <input type="number" class="form-control" ng-model="app_initPurAmt">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group" style="">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Monthly Net Income From All
                                        Sources</label>
                                    <input type="number" class="form-control" value="" required ng-model="app_income"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>


                        <div class="" style="">
                            <!--<label class="control-label col-sm-3">First Name</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">First Name</label>
                                    <input type="text" class="form-control" ng-model="app_firstName"
                                           required>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Middle</label>
                                    <input type="text" class="form-control " ng-model="app_middleName"
                                    >
                                </div>
                            </div>
                            <!--<label class="control-label col-sm-3">Last Name</label>-->
                        </div>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>


                        <div class="" style="">
                            <!--<label class="control-label col-sm-3">Middle</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Last Name</label>

                                    <input type="text" class="form-control" ng-model="app_lastName"
                                           required>
                                </div>
                            </div>

                            <!--<label class="control-label col-sm-3">Suffix</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Suffix</label>
                                    <select class="form-control" ng-model="app_suffix" required>
                                        <option value="">Suffix</option>
                                        <option value="II">II</option>
                                        <option value="III">III</option>
                                        <option value="IV">IV</option>
                                        <option value="JR">JR</option>
                                        <option value="SR">SR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                        <div class="" style="">
                            <!--<label class="control-label col-sm-3">Date of Birth</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Data of Birth</label>
                                    <datepicker id="smallDatePicker" date-format="yyyy-MM-dd">
                                        <input id="birthdate" type="text" class="form-control" ng-model="app_dob"
                                               required/>
                                    </datepicker>
                                </div>
                            </div>

                            <!--<label class="control-label col-sm-3">SSN/ITIN</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Social Security</label>
                                    <input id="ssn" type="text" class="form-control" ui-mask="999-99-9999"
                                           ng-model="app_ssn" required validate-ssn>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                        <div class="" style="">
                            <!--<label class="control-label col-sm-3">Mailing Address</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Mailing Address</label>
                                    <input type="text" class="form-control" ng-model="app_address"
                                           required>
                                </div>
                            </div>
                            <!--<label class="control-label col-sm-3">Housing Type</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Housing Type</label>

                                    <select class="form-control " ng-model="app_housetype" required>
                                        <option value="">Housing Type</option>
                                        <option value="own">Own</option>
                                        <option value="other">Other</option>
                                        <option value="rent">Rent</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                        <div class="" style="">
                            <!--<label class="control-label col-sm-3">Apt #</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Apt #</label>

                                    <input type="text" class="form-control" ng-model="app_apt">
                                </div>
                            </div>

                            <!--<label class="control-label col-sm-3">Zip Code</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Zip code</label>
                                    <input type="number" class="form-control" ng-model="app_zip" required
                                           ng-minlength="5" ng-maxlength="5">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                        <div class="" style="">
                            <!--<label class="control-label col-sm-3">State</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">State</label>
                                    <select class="form-control" ng-model="app_state" required>
                                        <option value="">State</option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Indiana">Indiana</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="New Jersey">New Jersey</option>
                                    </select>
                                </div>
                            </div>
                            <!--<label class="control-label col-sm-3">City</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">City</label>
                                    <input type="text" class="form-control" ng-model="app_city" required>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                        <div class="" style="">
                            <!--<label class="control-label col-sm-3">Phone Number</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Phone</label>

                                    <input type="tel" class="form-control" ng-model="app_phone"
                                           ui-mask="999-999-9999"
                                           required ng-minlength="12" ng-maxlength="12"/>
                                </div>
                            </div>

                            <!--<label class="control-label col-sm-3">Email</label>-->
                            <div class="col-sm-6 form-group">
                                <div class="">
                                    <label class="col-sm-6" style="color: white">Email</label>

                                    <input type="email" class="form-control" required ng-model="app_email"
                                    ></input>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>


                        <div class="" style="">
                            <div id="emailAgree" class="form-group" style="color: white">
                                <input type="checkbox" name="emailAgree" value="emailAgree"/> By providing my email
                                address, I agree to receive email communications about my account from SYNCB;
                                and by checking the box, I consent to receive promotional emails.
                            </div>
                        </div>


                        <div class="">
                            <div class="">
                                <div class="col-sm-6 form-group">
                                    <div class="">
                                        <button class="col-sm-3 btn btn-success btn-block" style="width: 85%"
                                                ng-click="cfService.step1Complete = true"> <i class="fa fa-lock"></i> Secure & Encrypted - Submit
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <div class="">
                                        <button class="col-sm-3 btn btn-primary btn-block" type="reset"
                                                style="width: 85%"> Reset
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>


        <div class="container" style="width: 80%"
             ng-show="cfService.step1Complete == true && cfService.step2Complete != true">
            <fieldset class="for-panel">
                <div class="pull-right" style="font-size: 120%; font-weight: bold">
                    <a href="" style="text-decoration: none;color: #F8C700">FAQ: <i class="fa fa-question-circle"
                                                                                  aria-hidden="true"></i></a>
                </div>
                <legend><i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout - Progress: <i
                        class="fa fa-battery-half" aria-hidden="true"></i></legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div id="approvedOffers">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <div>
                                            <h3 class="" style="margin-top: -5px">
                                                You're approved for <strong>$809.00</strong>!
                                            </h3>
                                            <span style="font-weight: bold;">Choose the payment plan that works best for you. <br> There are no hidden fees!</span>
                                        </div>
                                        <div class="clearfix" style="margin-top: 5px; margin-bottom: 5px;"></div>

                                        <div ng-click="cfService.step2Complete = true"
                                             class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 offersSelection">
                                            <div class="panel panel-default" style="background-color: #5EE272">
                                                <a style="text-decoration: none;">
                                                    <div class="panel-body">
                                                        <h5>$287.71/mo for 3 months</h5>
                                                    </div>
                                                    <div class="panel-footer" style="background-color: #46B657">
                                                    <span class="">
                                                        INTEREST (20% APR)<br>
                                                        $27.12
                                                    </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                                        <div ng-click="cfService.step2Complete = true"
                                             class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 offersSelection">
                                            <div class="panel panel-default" style="background-color: #0F8322">
                                                <a style="text-decoration: none;">
                                                    <div class="panel-body">
                                                        <h5>$142.81/mo for 6 months</h5>
                                                    </div>
                                                    <div class="panel-footer" style="background-color: #0A5A17">
                                                        <span class="">
                                                        INTEREST (20% APR)<br>
                                                        $47.86
                                                    </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                                        <div ng-click="cfService.step2Complete = true"
                                             class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 offersSelection">
                                            <div class="panel panel-default" style="background-color: #023D0A">
                                                <a style="text-decoration: none;">
                                                    <div class="panel-body">
                                                        <h5>$74.94/mo for 12 months</h5>
                                                    </div>
                                                    <div class="panel-footer" style="background-color: #012B07">
                                                        <span class="">
                                                        INTEREST (20% APR)<br>
                                                        $47.86
                                                    </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                                        <div class="well" style="font-weight: bold; font-size: 120%">
                                            <span style="font-size: 130%; font-weight: bold"> TIP <i
                                                    class="fa fa-hand-o-right" aria-hidden="true"></i>
</span>
                                            You're prequalified for financing up to <strong>$3,000</strong>, so you can
                                            add an additional
                                            <strong>$2,191</strong> to your cart.
                                        </div>
                                    </div>
                                    <!-- div class="panel-footer">Panel footer</div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>
            </fieldset>
        </div>

        <div class="container" style="width: 80%"
             ng-show="cfService.step2Complete == true && cfService.step3Complete != true">
            <fieldset class="for-panel">
                <div class="pull-right" style="font-size: 120%; font-weight: bold">
                    <a href="" style="text-decoration: none; color: #F8C700">FAQ: <i class="fa fa-question-circle"
                                                                                   aria-hidden="true"></i></a>
                </div>
                <legend><i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout - Progress: <i
                        class="fa fa-battery-three-quarters" aria-hidden="true"></i></legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div>
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <div style="margin-top: 30px; margin-bottom: 30px;">
                                            <h4 class="">
                                                You're approved for <strong>$809.00</strong>!
                                            </h4>
                                            <span style="">Your monthly payments</span>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th class="text-center" colspan="2">
                                                        $74.94/mo for 12 months
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Interest (20% APR) <br>
                                                        <span>$90.27</span>
                                                    </td>
                                                    <td>
                                                        Total of payments <br>
                                                        <span>$899.27</span>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>

                                        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 row row-bordered">
                                            <span>Your payments will be due each month starting on or after Aug 8. 2017</span>
                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>

                                        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 row row-bordered">
                                            <h5>Set up AutoPay</h5>
                                            <span>
                                                AutoPay is the easiest way to pay, and it will help you build <br>
                                                positive history through on-time payments.
                                            </span>
                                            <br><br>
                                            <button class="btn btn-success" ng-click="showCreateModal()">Would you like
                                                to
                                                enable AutoPay?
                                            </button>
                                            <div style="min-height: 15px;"></div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>

                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="agree" value="agree"/> Agree with
                                                        the
                                                        terms and conditions
                                                    </label>

                                                    <div ng-click="showBureauModal()" style="text-decoration: none">
                                                        <div class="divDisclure" style="text-align: left;">
                                                            <strong>PLEASE READ BEFORE APPLYING</strong>
                                                            I have reviewed and agree to the
                                                            <a href=""> Truth in Lending Disclosure and Loan
                                                                Agreement </a>
                                                            and the refund policy provided by
                                                            ABCCBA, and have received the <a href=""> Credit Score
                                                            Disclosure</a>.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-2">
                                                <button type="submit" class="btn btn-primary"
                                                        ng-click="cfService.step3Complete = true" value="confirm">
                                                    Confirm
                                                    Loan <i class="fa fa-check" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- div class="panel-footer">Panel footer</div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>
            </fieldset>
        </div>

        <div class="container" style="width: 80%" ng-show="cfService.step3Complete == true">
            <fieldset class="for-panel">
                <div class="pull-right" style="font-size: 120%; font-weight: bold">
                    <a href="" style="text-decoration: none; color: #F8C700">FAQ: <i class="fa fa-question-circle"
                                                                                   aria-hidden="true"></i></a>
                </div>
                <legend><i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout - Progress: <i
                        class="fa fa-battery-full" aria-hidden="true"></i></legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div>
                                <div class="panel panel-default">
                                    <div class="clearfix" style="margin-top: 45px; margin-bottom: 45px;"></div>
                                    <div class="panel-body text-center">
                                        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 row row-bordered text-success">
                                        <span style="font-size: 160%"><strong>Application Completed <i
                                                class="fa fa-check-circle" aria-hidden="true"></i></strong></span>
                                            <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>
                                            <div class="well">
                                                Your Order Confirmation Number: <strong>23496-65424-68954</strong><br>
                                                Please use this number when calling or emailing support converning this
                                                order.
                                                If you have any questions, please email us at abc@crif.com, or contact
                                                us at 1-800-3219988.
                                            </div>
                                            <span><br>Thank you for using CRIF System</i></span>
                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>
                                    </div>
                                    <!-- div class="panel-footer">Panel footer</div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-top: 35px; margin-bottom: 35px;"></div>
            </fieldset>
            <div class="clearfix" style="margin-top: 200px;"></div>
        </div>
    </div>
</div>
