<div class="content" ng-controller="RegisterCtrl">
    <div id="loginScreen" class="row col-md-12">
        <form novalidate>

            <div class="container" ng-show="cfService.loginFlag != true">
                <div class="row main">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            <h1 class="title">
                                <img ng-src="./img/Ferrari-logo-sm.png" height="260"/></h1>
                            <hr />
                        </div>
                    </div>
                    <div class="main-login main-center">
                        <form class="form-horizontal" method="post" action="#">

                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <button type="button" class="btn btn-danger btn-lg btn-block login-button" ng-click="doLogin()">Log In</button>
                            </div>

                            <div class="login-register">
                                <a href="#">Having trouble logging in?</a>
                            </div>

                            <div>
                                <hr>
                            </div>

                            <div class="form-group ">
                                <button type="button" class="btn btn-default btn-lg btn-block login-button">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="appraiseMain" class="container" ng-show="cfService.loginFlag == true ">
                <cc-banner></cc-banner>
                <fieldset class="for-panel">
                    <div id="appraiseMainView" class="table-responsive" ng-show="cfService.appraiseView == 'main'">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>RefID</th>
                                <th>Appraised By</th>
                                <th>Model</th>
                                <th>Make</th>
                                <th>Year</th>
                                <th>VIN</th>
                                <th>New/Used</th>
                                <th>Location</th>
                                <th>City</th>
                                <th>Race</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>
                                    <a href="#">12345</a>
                                </th>
                                <th>Super Appraiser</th>
                                <th>488 Spider</th>
                                <th>Ferrari</th>
                                <th>2016</th>
                                <th>19UYA31581L000333</th>
                                <th>New</th>
                                <th>ABC Ferrari</th>
                                <th>Houston, TX</th>
                                <th>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <a href="#">23456</a>
                                </th>
                                <th>Super Appraiser</th>
                                <th>488 Spider</th>
                                <th>Ferrari</th>
                                <th>2016</th>
                                <th>19UYA31581L000333</th>
                                <th>New</th>
                                <th>ABC Ferrari</th>
                                <th>Houston, TX</th>
                                <th>
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <a href="#">34567</a>
                                </th>
                                <th>Super Appraiser</th>
                                <th>488 Spider</th>
                                <th>Ferrari</th>
                                <th>2016</th>
                                <th>19UYA31581L000333</th>
                                <th>New</th>
                                <th>ABC Ferrari</th>
                                <th>Houston, TX</th>
                                <th>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <a href="#">45678</a>
                                </th>
                                <th>Super Appraiser</th>
                                <th>488 Spider</th>
                                <th>Ferrari</th>
                                <th>2016</th>
                                <th>19UYA31581L000333</th>
                                <th>New</th>
                                <th>ABC Ferrari</th>
                                <th>Houston, TX</th>
                                <th>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <a href="#">56789</a>
                                </th>
                                <th>Super Appraiser</th>
                                <th>488 Spider</th>
                                <th>Ferrari</th>
                                <th>2016</th>
                                <th>19UYA31581L000333</th>
                                <th>New</th>
                                <th>ABC Ferrari</th>
                                <th>Houston, TX</th>
                                <th>
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <a href="#">23451</a>
                                </th>
                                <th>Super Appraiser</th>
                                <th>488 Spider</th>
                                <th>Ferrari</th>
                                <th>2016</th>
                                <th>19UYA31581L000333</th>
                                <th>New</th>
                                <th>ABC Ferrari</th>
                                <th>Houston, TX</th>
                                <th>
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <a href="#">34512</a>
                                </th>
                                <th>Super Appraiser</th>
                                <th>488 Spider</th>
                                <th>Ferrari</th>
                                <th>2016</th>
                                <th>19UYA31581L000333</th>
                                <th>New</th>
                                <th>ABC Ferrari</th>
                                <th>Houston, TX</th>
                                <th>
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="appraiseSearchView" ng-show="cfService.appraiseView == 'search'">
                        <form class="form-inline">
                            <div class="input-group mb-3 mr-sm-3 mb-sm-0">
                                <datepicker date-format="yyyy-MM-dd">
                                    <input id="appraiseSearchToDate" type="text"
                                           ng-model="autoPay_expiration" class="form-control"
                                           placeholder="From Date">
                                </datepicker>
                            </div>

                            <div class="input-group mb-3 mr-sm-3 mb-sm-0">
                                <datepicker date-format="yyyy-MM-dd">
                                    <input id="appraiseSearchFromDate" type="text"
                                           ng-model="autoPay_expiration" class="form-control"
                                           placeholder="To Date">
                                </datepicker>
                            </div>

                            <div class="input-group mb-3 mr-sm-3 mb-sm-0">
                                <select class="form-control" id="appraiseSearchModel">
                                    <option value="">---Please select model---  </option> <!-- not selected / blank option -->
                                    <option value="Daytona">Ferrari Daytona</option> <!-- interpolation -->
                                    <option value="250GTO">Ferrari 250 GTO</option>
                                    <option value="275">Ferrari 275</option>
                                    <option value="599GTBFiorano">Ferrari 599 GTB Fiorano</option>
                                    <option value="F430">Ferrari F430</option>
                                </select>
                            </div>

                            <div class="input-group mb-3 mr-sm-3 mb-sm-0">
                                <input type="text" class="form-control"placeholder="Make">
                            </div>
                            <button class="btn btn-success pull-right">Search</button>
                        </form>
                        <div id="appraiseSearchResult" style="margin-top: 20px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>RefID</th>
                                    <th>Appraised By</th>
                                    <th>Model</th>
                                    <th>Make</th>
                                    <th>Year</th>
                                    <th>VIN</th>
                                    <th>New/Used</th>
                                    <th>Location</th>
                                    <th>City</th>
                                    <th>Race</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>
                                        <a href="#">12345</a>
                                    </th>
                                    <th>Super Appraiser</th>
                                    <th>488 Spider</th>
                                    <th>Ferrari</th>
                                    <th>2016</th>
                                    <th>19UYA31581L000333</th>
                                    <th>New</th>
                                    <th>ABC Ferrari</th>
                                    <th>Houston, TX</th>
                                    <th>
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <a href="#">23456</a>
                                    </th>
                                    <th>Super Appraiser</th>
                                    <th>488 Spider</th>
                                    <th>Ferrari</th>
                                    <th>2016</th>
                                    <th>19UYA31581L000333</th>
                                    <th>New</th>
                                    <th>ABC Ferrari</th>
                                    <th>Houston, TX</th>
                                    <th>
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <a href="#">34567</a>
                                    </th>
                                    <th>Super Appraiser</th>
                                    <th>488 Spider</th>
                                    <th>Ferrari</th>
                                    <th>2016</th>
                                    <th>19UYA31581L000333</th>
                                    <th>New</th>
                                    <th>ABC Ferrari</th>
                                    <th>Houston, TX</th>
                                    <th>
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <a href="#">45678</a>
                                    </th>
                                    <th>Super Appraiser</th>
                                    <th>488 Spider</th>
                                    <th>Ferrari</th>
                                    <th>2016</th>
                                    <th>19UYA31581L000333</th>
                                    <th>New</th>
                                    <th>ABC Ferrari</th>
                                    <th>Houston, TX</th>
                                    <th>
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <a href="#">56789</a>
                                    </th>
                                    <th>Super Appraiser</th>
                                    <th>488 Spider</th>
                                    <th>Ferrari</th>
                                    <th>2016</th>
                                    <th>19UYA31581L000333</th>
                                    <th>New</th>
                                    <th>ABC Ferrari</th>
                                    <th>Houston, TX</th>
                                    <th>
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <a href="#">23451</a>
                                    </th>
                                    <th>Super Appraiser</th>
                                    <th>488 Spider</th>
                                    <th>Ferrari</th>
                                    <th>2016</th>
                                    <th>19UYA31581L000333</th>
                                    <th>New</th>
                                    <th>ABC Ferrari</th>
                                    <th>Houston, TX</th>
                                    <th>
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <a href="#">34512</a>
                                    </th>
                                    <th>Super Appraiser</th>
                                    <th>488 Spider</th>
                                    <th>Ferrari</th>
                                    <th>2016</th>
                                    <th>19UYA31581L000333</th>
                                    <th>New</th>
                                    <th>ABC Ferrari</th>
                                    <th>Houston, TX</th>
                                    <th>
                                        <i class="fa fa-square-o" aria-hidden="true"></i>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>


        <div class="container" style="width: 80%"
             ng-show="cfService.step1Complete == true && cfService.step2Complete != true">
            <fieldset class="for-panel">
                <div class="col-sm-12">
                <div class="pull-right" style="font-size: 120%; font-weight: bold">
                    <a href="" style="text-decoration: none;color: #F8C700">FAQ: <i class="fa fa-question-circle"
                                                                                  aria-hidden="true"></i></a>
                </div>
                </div>
                <legend><i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout - Progress: <i
                        class="fa fa-battery-half" aria-hidden="true"></i></legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div id="approvedOffers">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <div>
                                            <h3 class="" style="margin-top: -5px">
                                                You're approved for <strong>$809.00</strong>!
                                            </h3>
                                            <span style="font-weight: bold;">Choose the payment plan that works best for you. <br> There are no hidden fees!</span>
                                        </div>
                                        <div class="clearfix" style="margin-top: 5px; margin-bottom: 5px;"></div>

                                        <div ng-click="cfService.step2Complete = true"
                                             class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 offersSelection">
                                            <div class="panel panel-default" style="background-color: #5EE272">
                                                <a style="text-decoration: none;">
                                                    <div class="panel-body">
                                                        <h5>$287.71/mo for 3 months</h5>
                                                    </div>
                                                    <div class="panel-footer" style="background-color: #46B657">
                                                    <span class="">
                                                        INTEREST (20% APR)<br>
                                                        $27.12
                                                    </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                                        <div ng-click="cfService.step2Complete = true"
                                             class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 offersSelection">
                                            <div class="panel panel-default" style="background-color: #0F8322">
                                                <a style="text-decoration: none;">
                                                    <div class="panel-body">
                                                        <h5>$142.81/mo for 6 months</h5>
                                                    </div>
                                                    <div class="panel-footer" style="background-color: #0A5A17">
                                                        <span class="">
                                                        INTEREST (20% APR)<br>
                                                        $47.86
                                                    </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                                        <div ng-click="cfService.step2Complete = true"
                                             class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 offersSelection">
                                            <div class="panel panel-default" style="background-color: #023D0A">
                                                <a style="text-decoration: none;">
                                                    <div class="panel-body">
                                                        <h5>$74.94/mo for 12 months</h5>
                                                    </div>
                                                    <div class="panel-footer" style="background-color: #012B07">
                                                        <span class="">
                                                        INTEREST (20% APR)<br>
                                                        $47.86
                                                    </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 10px; margin-bottom: 10px;"></div>

                                        <div class="well" style="font-weight: bold; font-size: 120%">
                                            <span style="font-size: 130%; font-weight: bold"> TIP <i
                                                    class="fa fa-hand-o-right" aria-hidden="true"></i>
</span>
                                            You're prequalified for financing up to <strong>$3,000</strong>, so you can
                                            add an additional
                                            <strong>$2,191</strong> to your cart.
                                        </div>
                                    </div>
                                    <!-- div class="panel-footer">Panel footer</div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>
            </fieldset>
        </div>

        <div class="container" style="width: 80%"
             ng-show="cfService.step2Complete == true && cfService.step3Complete != true">
            <fieldset class="for-panel">
                <div class="col-sm-12">
                <div class="pull-right" style="font-size: 120%; font-weight: bold">
                    <a href="" style="text-decoration: none; color: #F8C700">FAQ: <i class="fa fa-question-circle"
                                                                                   aria-hidden="true"></i></a>
                </div>
                </div>
                <legend><i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout - Progress: <i
                        class="fa fa-battery-three-quarters" aria-hidden="true"></i></legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div>
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <div style="margin-top: 30px; margin-bottom: 30px;">
                                            <h4 class="">
                                                You're approved for <strong>$809.00</strong>!
                                            </h4>
                                            <span style="">Your monthly payments</span>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th class="text-center" colspan="2">
                                                        $74.94/mo for 12 months
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Interest (20% APR) <br>
                                                        <span>$90.27</span>
                                                    </td>
                                                    <td>
                                                        Total of payments <br>
                                                        <span>$899.27</span>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>

                                        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 row row-bordered">
                                            <span>Your payments will be due each month starting on or after Aug 8. 2017</span>
                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>

                                        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 row row-bordered">
                                            <h5>Set up AutoPay</h5>
                                            <span>
                                                AutoPay is the easiest way to pay, and it will help you build <br>
                                                positive history through on-time payments.
                                            </span>
                                            <br><br>
                                            <button class="btn btn-success" ng-click="showCreateModal()">Would you like
                                                to
                                                enable AutoPay?
                                            </button>
                                            <div style="min-height: 15px;"></div>
                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>

                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="agree" value="agree"/> Agree with
                                                        the
                                                        terms and conditions
                                                    </label>

                                                    <div ng-click="showBureauModal()" style="text-decoration: none">
                                                        <div class="divDisclure" style="text-align: left;">
                                                            <strong>PLEASE READ BEFORE APPLYING</strong>
                                                            I have reviewed and agree to the
                                                            <a href=""> Truth in Lending Disclosure and Loan
                                                                Agreement </a>
                                                            and the refund policy provided by
                                                            ABCCBA, and have received the <a href=""> Credit Score
                                                            Disclosure</a>.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-2">
                                                <button type="submit" class="btn btn-primary"
                                                        ng-click="cfService.step3Complete = true" value="confirm">
                                                    Confirm
                                                    Loan <i class="fa fa-check" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- div class="panel-footer">Panel footer</div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>
            </fieldset>
        </div>

        <div class="container" style="width: 80%" ng-show="cfService.step3Complete == true">
            <fieldset class="for-panel">
                <div class="col-sm-12">
                <div class="pull-right" style="font-size: 120%; font-weight: bold">
                    <a href="" style="text-decoration: none; color: #F8C700">FAQ: <i class="fa fa-question-circle"
                                                                                   aria-hidden="true"></i></a>
                </div>
                </div>
                <legend><i class="fa fa-lock" aria-hidden="true"></i> Secure Checkout - Progress: <i
                        class="fa fa-battery-full" aria-hidden="true"></i></legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div>
                                <div class="panel panel-default">
                                    <div class="clearfix" style="margin-top: 45px; margin-bottom: 45px;"></div>
                                    <div class="panel-body text-center">
                                        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 row row-bordered text-success">
                                        <span style="font-size: 160%"><strong>Application Completed <i
                                                class="fa fa-check-circle" aria-hidden="true"></i></strong></span>
                                            <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>
                                            <div class="well">
                                                Your Order Confirmation Number: <strong>23496-65424-68954</strong><br>
                                                Please use this number when calling or emailing support converning this
                                                order.
                                                If you have any questions, please email us at abc@crif.com, or contact
                                                us at 1-800-3219988.
                                            </div>
                                            <span><br>Thank you for using CRIF System</i></span>
                                        </div>
                                        <div class="clearfix" style="margin-top: 30px; margin-bottom: 30px;"></div>
                                    </div>
                                    <!-- div class="panel-footer">Panel footer</div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="margin-top: 35px; margin-bottom: 35px;"></div>
            </fieldset>
            <div class="clearfix" style="margin-top: 200px;"></div>
        </div>
    </div>
</div>
